<button 
    id="openModalAddUser"  
    type="button" 
    class="flex gap-2 text-black p-2 rounded hover:bg-gray-400 hover:text-white transition duration-300 mt-3" >
    <%- include('../icons/add_user') %>
    <span class="class=ml-2" id="openModal">Crear Nuevo Usuario</span>
</button>
<div id="gridForUsers" class="ag-theme-quartz h-5/6 max-w-screen mt-3 md:text-lg"></div>
<%- include('../components/modals/users/crear_usuario_modal') %>        
<%- include('../components/modals/users/editar_usuario_modal') %>   
<script defer src="/laundry-manager/js/users/usuarios_grid.js" type="module"></script>
<script defer src="/laundry-manager/js/users/editar_usuario_modal.js"></script>
<script defer src="/laundry-manager/js/users/validar_rut.js"></script>
<script defer src="/laundry-manager/js/users/crear_usuario_modal.js"></script>