<!DOCTYPE html>
<html lang="es-CL">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Manager</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/food-manager/img/logo_hospital.webp"
    />
    <link rel="stylesheet" href="/food-manager/css/ag-grid.css" />
    <link rel="stylesheet" href="/food-manager/css/tailwind.css" />
    
  </head>

  <body
    class="bg-gray-100 font-sans leading-normal tracking-normal min-h-screen flex"
  >
    <%- include('partials/_header') %>
    <main class="flex-1 p-4 overflow-y-auto"><%-body%></main>
    <!--ENTRE ESTE COMENTARIO Y EL INCLUDE DE ABAJO VAN MODALS-->
    <%- include('partials/_footer') %>

    <!--ACA VAN SCRIPTS DE JS-->
    <script src="/food-manager/js/libs/exceljs.min.js"></script>

    <script src="/food-manager/js/libs/ag-grid-community.min.js"></script>

    <script src="/food-manager/js/libs/sweetalert211.js"></script>

    <script src="/food-manager/js/libs/axios.min.js"></script>
    <!-- jsPDF y html2canvas para generar el PDF -->
    <script src="/food-manager/js/libs/jspdf.umd.min.js"></script>

    <script src="/food-manager/js/libs/html2canvas.min.js"></script>

    <!-- Incluir la librería SheetJS -->
    <script src="/food-manager/js/libs/xlsx.full.min.js"></script>

    <script src="/food-manager/js/colapsar_menu.js"></script>

    <script src="/food-manager/js/search.js"></script>

    <script src="/food-manager/js/reportes/jspdf-autotable.js"></script>

  </body>
</html>
