<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <!--ACA VAN LOS ESTILOS CSS-->
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind CSS CDN TEMPORAL, PARA NO PERDER TIEMPO EJECUTANDO COMANDOS-->
</head>
<%- include('partials/_header') %>
<main class="flex-1 p-6">
    <!--CONTENIDO DE LA VISTA EN SI-->
</main>
<!--ENTRE ESTE COMENTARIO Y EL INCLUDE DE ABAJO VAN MODALS-->
<%- include('partials/_footer') %>

<!--ACA VAN SCRIPTS DE JS-->
</body>
</html>