<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry Manager</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/laundry-manager/img/logo_hospital.webp" />
    <!--ACA VAN LOS ESTILOS CSS-->
    <link rel="stylesheet" href="/laundry-manager/css/tailwind.css">
    <!-- Tailwind CSS CDN TEMPORAL, PARA NO PERDER TIEMPO EJECUTANDO COMANDOS-->
    
    <script src="/laundry-manager/js/libs/exceljs.min.js"></script>
    <script src="/laundry-manager/js/libs/ag-grid-community.min.js"></script>
    <script src="/laundry-manager/js/libs/sweetalert211.js"></script>
    <script src="/laundry-manager/js/colapsar_menu.js" defer></script>
    <script src="/laundry-manager/js/libs/ag-charts-enterprise.js"></script>
    <script src="/laundry-manager/js/search.js"></script>

    <style>
        .ag-theme-quartz {
            /* Changes the color of the grid text */
            --ag-foreground-color: rgb(14, 68, 145);
            /* Changes the color of the grid background */
            --ag-background-color: #e2e3e5;
            /* Changes the header color of the top row */
            --ag-header-background-color: rgb(228, 237, 250);
            /* Changes the hover color of the row*/

            --ag-row-hover-color: rgb(216, 226, 255);

            z-index: -1;
        }

        /* Custom width for collapsed sidebar */
        #sidebar.collapsed {
            width: 5.5rem;
        }

        /* Ancho normal del sidebar */
        #sidebar {
            width: 16rem;
            transition: width 0.3s ease;
        }

        /* Ocultar el texto de los elementos del menú */
        .sidebar-text {
            transition: opacity 0.3s ease;
        }

        /* Cuando el sidebar esté colapsado, ocultar el texto */
        #sidebar.collapsed .sidebar-text {
            display: none;
        }

        /* Ocultar el logo grande cuando el sidebar esté colapsado */
        #sidebar.collapsed #logo {
            display: none;
        }

        /* Mostrar el logo pequeño cuando el sidebar esté colapsado */
        #sidebar.collapsed #smallLogo {
            display: block;
        }

        /* Inicialmente ocultar el logo pequeño */
        #smallLogo {
            display: none;
        }

    </style>
</head>
<%- include('partials/_header') %>
    <main class="flex-1 p-6">
        <%-body%>
    </main>
    <!--ENTRE ESTE COMENTARIO Y EL INCLUDE DE ABAJO VAN MODALS-->
    <%- include('partials/_footer') %>

        <!--ACA VAN SCRIPTS DE JS-->
        </body>

</html>