<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind CSS CDN TEMPORAL, PARA NO PERDER TIEMPO EJECUTANDO COMANDOS-->
</head>
<%- include('partials/_header') %>
<main class="flex-1 p-6">
    <h2 class="text-2xl">Contenido</h2>
</main>
<%- include('components/modals/crear_usuario_modal') %>
<%- include('partials/_footer') %>
</body>
</html>