<a href="javascript:void(0);" onclick="generarReporte()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 text-md rounded mr-1 rounded-full">Generar Reporte</a>
<%- include('../components/menus/reportes') %>
<%- include('../components/modals/reportes/reportes_minuta') %>
<%- include('../components/modals/reportes/ReporteDiarioHospitalizado') %>
<script src="/food-manager/js/reportes/open_modal.js"></script>
<script>
    function generarReporte() {
  fetch('/food-manager/report/fill-table', {
    method: 'GET',
  })
    .then(response => {
      if (response.ok) {
        // Si la respuesta es exitosa
        Swal.fire({
          icon: 'success',
          title: 'Reporte Generado',
          text: 'El reporte se ha generado correctamente.',
          confirmButtonText: 'OK'
        });
      } else {
        // Si hubo un error en la respuesta
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'No se pudo generar el reporte. Inténtelo de nuevo.',
          confirmButtonText: 'OK'
        });
      }
    })
    .catch(error => {
      // Si hay un problema con la conexión o el fetch
      Swal.fire({
        icon: 'error',
        title: 'Error de Conexión',
        text: 'Ocurrió un error de conexión. Inténtelo más tarde.',
        confirmButtonText: 'OK'
      });
    });
}

</script>