# Ignorar todas las carpetas node_modules
**/node_modules

# Ignorar todos los archivos .env
**/.env
laundry-manager/prisma/schema.prisma
laundry-manager/src/controllers/prisma/schema.prisma
laundry-manager/prisma/schema.prisma
