<div class="grid grid-cols-2 gap-4">
    <button onclick="openEntregarServiciosModal()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/entregar') %>
        <span class="ml-2">Reporte de Baja y Pérdida</span>
    </button>
    <a href="#" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/baja') %>
        <span class="ml-2">Reporte Stock Ropa Limpia</span>
    </a>
    <a href="#" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/recibir') %>
        <span class="ml-2">Reporte en Tr+ansito</span>
    </a>
    <a href="#" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/perdida') %>
        <span class="ml-2">Balance General</span>
    </a>
</div>
