<div class="grid grid-cols-2 gap-4">
    <button onclick="openEntregarUnidadSigcomModal()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/entregar') %>
        <span class="ml-2">Entregar ropa limpia a unidad sigcom</span>
    </button>
    <button onclick="openDarRopaDeBajaModal()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/baja') %>
        <span class="ml-2">Dar ropa de baja</span>
    </button>
    <button onclick="openRecibirRopaLimpiaLavModal()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/recibir') %>
        <span class="ml-2">Recibir ropa limpia desde lavandería</span>
    </button>
    <button onclick="openDeclararPerdidaModal()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/perdida') %>
        <span class="ml-2">Declarar ropa perdida</span>
    </button>
</div>