<div class="grid grid-cols-2 gap-4">
    <a href="#" class="block p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">Option 1</a>
    <a href="#" class="block p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">Option 2</a>
    <a href="#" class="block p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">Option 3</a>
    <a href="#" class="block p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">Option 4</a>
</div>