<div class="grid grid-cols-2 gap-4">
    <button onclick="openEntregarServiciosModal()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/entregar') %>
        <span class="ml-2">Entregar ropa limpia a servicios</span>
    </button>
    <a href="#" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/baja') %>
        <span class="ml-2">Dar ropa de baja</span>
    </a>
    <button onclick="openRecibirRopaLimpiaLav()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/recibir') %>
        <span class="ml-2">Recibir ropa limpia desde lavandería</span>
    </button>
    <a href="#" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/perdida') %>
        <span class="ml-2">Declarar ropa perdida</span>
    </a>
</div>

