<% if (1 === 1) { %>
    <h2 class="text-2xl mb-3">Menú de Reportes</h2>
    <%- include('../components/menus/menu_reportes') %>
<% } %>

<% if (2 === 1) { %>
    <h1>admin</h1>
<% } %>

<div class="flex">
    <select class="flex-1 mt-6 mx-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 pl-3 text-left font-normal text-muted-foreground" name="" id="" aria-placeholder="Estado">
        <option value="">Estado:</option>
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
    </select>
    <input class="flex-1 mt-6 mx-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 pl-3 text-left font-normal text-muted-foreground" type="date" name="" id="" placeholder="Ingrese Fecha">
    <input class="flex-1 mt-6 mx-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 pl-3 text-left font-normal text-muted-foreground" type="text" name="" id="" placeholder="Ingrese Usuario Responsable">
    <select class="flex-1 mt-6 mx-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 pl-3 text-left font-normal text-muted-foreground" name="" id="">
        <option value="">Servicio:</option>
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
    </select>
</div>
<div id="gridForReportsHome" class="ag-theme-quartz h-96 w-max-screen mt-3"></div>

<script type="module" src="/js/reportsHome_grid.js"></script>