<h1>Pacientes</h1>
<div class="w-full max-w-lg">
    <form action="/search" method="GET" class="flex items-center">
        <input type="text" name="query" placeholder="Buscar pacientes..." required
            class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
            aria-label="Buscar">
        <button type="submit"
            class="bg-indigo-500 text-white px-4 py-2 rounded-r-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500">
            Buscar
        </button>
    </form>
</div>