<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden opacity-0 transition-opacity duration-300" id="modal_minuta_diaria">
    <div class="bg-white rounded-lg shadow-lg p-8 w-full transform scale-95 transition-transform duration-300">
        <div id="gridForReportsStockGeneral" class="ag-theme-quartz h-96 w-max-screen mt-3"></div>
        <div class="mt-4 text-center">
            <button id="ExportGeneralToExcel" class="w-full mt-2 bg-green-500 text-white p-2 rounded hover:bg-green-400">Exportar a Excel</button>
            <button id="closeModalReporteDiario" class="w-full mt-2 bg-red-500 text-white p-2 rounded hover:bg-red-400">Cerrar</button>
        </div>
    </div>
</div>