<div>
    <div class="flex gap-2 my-2">
        <div class="bg-white rounded-lg shadow-md p-6 flex-1 mx-auto">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold text-gray-800">Total Revenue</h2> 
            </div>
            <div class="text-3xl font-bold text-gray-900 mb-2">$24,560</div>
        </div>

        <div class="bg-white rounded-lg shadow-md p-6 flex-1 mx-auto">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold text-gray-800">Total Revenue</h2>
            </div>
            <div class="text-3xl font-bold text-gray-900 mb-2">$24,560</div>
        </div>

        <div class="bg-white rounded-lg shadow-md p-6 flex-1 mx-auto">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold text-gray-800">Total Revenue</h2>
            </div>
            <div class="text-3xl font-bold text-gray-900 mb-2">$24,560</div>
        </div>

        <div class="bg-white rounded-lg shadow-md p-6 flex-1 mx-auto">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold text-gray-800">Total Revenue</h2>
            </div>
            <div class="text-3xl font-bold text-gray-900 mb-2">$24,560</div>
        </div>
    </div>
    <div class="flex gap-2 my-2">
        <div class="bg-white rounded-lg shadow-md p-6 mx-auto flex-1">
            <div id="chartForLines"></div>
        </div>
        <div class="bg-white rounded-lg shadow-md p-6 mx-auto flex-1">
            <div id="chartForPie"></div>
        </div>
    </div>
</div>


<script src="/js/generarAgCharts.js"></script>
