<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-image: url('/img/login_bg.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body class="h-screen flex items-center justify-center">
    <div class="bg-white shadow-lg rounded-2xl p-8 max-w-sm w-full border-2 border-black">
        <div class="flex justify-center mb-4">
            <%- include("../icons/logo_hospital") %>
        </div>
        <h1 class="text-2xl mb-4 text-center">Recuperar/Cambiar contraseña</h1>
        <p class="text-black-600 text-center mb-6">Ingresa tu usuario y correo electrónico registrado y le enviaremos su nueva contraseña</p>
        <form method="post" action="/auth/send-pwd-mail">
            <div class="mb-4">
                <label for="username" class="block text-black-700 mb-2">Nombre de usuario</label>
                <input type="text" name="usernmae" class="w-full p-2 border rounded" placeholder="Nombre de usuario" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-black-700 mb-2">Correo electrónico</label>
                <input type="email" name="email" class="w-full p-2 border rounded" placeholder="Example@ex.com" required>
            </div>
            <button type="submit"
                class="w-full bg-black text-white p-2 rounded hover:bg-gray-800 transition duration-300">Enviar</button>
        </form>
    </div>
</body>
</html>