<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-image: url('/img/login_bg.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body class="h-screen flex items-center justify-center">
    <div class="bg-white shadow-lg rounded-2xl p-8 max-w-sm w-full border-2 border-black">
        <div class="flex justify-center mb-4">
            <%- include("../icons/logo_hospital") %>
        </div>
        <h1 class="text-2xl mb-4 text-center">Recuperar contraseña</h1>
        <p class="text-black-700 text-center mb-6">Un mensaje ha sido enviado a tu correo, para reestablecer tu contraseña
            sigue los pasos escritos en ese correo.</p>
        <button class="w-full bg-black text-white p-2 rounded hover:bg-gray-800 transition duration-300">Regresar</button>
    </div>
</body>
</html>