
<div class="grid grid-cols-2 gap-4 my-4">
    <button id="openModalRegimenDiarios" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/chart') %>
        <span class="ml-2">Reporte Regimens Diarios</span>
    </button>
    
    <button id="openModalReporteDiario"  class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/clipboard') %>
        <span class="ml-2">Reporte de pautas de alimentación</span>
    </button>
</div>


