<div class="flex justify-center bg-gray-300 py-2">
        <a href="#" class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Estamentos</a>
        <a href="#" class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Unidades Signom</a>
        <a href="#" class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Servicios</a>
        <a href="#" class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Contratos</a>
        <a href="#" class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Vias de Alimentacion</a>
        <a href="#" class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Perfiles de Funcionarios</a>
        <a href="#" class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Regimen</a>
</div>


<div id="cardGrid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5 p-6">
            <div class="flex flex-col gap-2 flex-row bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1"
                
            <label class="text-gray-800 font-bold text-xl mb-2 text-center">Titulo Mantenedor</label>

                <button>Editar</button>
            </div>
    </div>
