<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-image: url('/img/login_bg.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body class="h-screen flex items-center justify-center">
    <div class="bg-white shadow-lg rounded-2xl p-8 max-w-sm w-full border-2 border-black">
        <div class="flex justify-center mb-6">
            <%- include("../icons/logo_hospital") %>
        </div>
        <h1 class="text-2xl mb-6 text-center text-black">Iniciar sesión</h1>
        <form>
            <div class="mb-4">
                <label for="username" class="block text-black-700 mb-2">Usuario</label>
                <input type="text" id="username" class="w-full p-2 border rounded-lg" placeholder="Nombre de usuario">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-black-700 mb-2">Contraseña</label>
                <input type="password" id="password" class="w-full p-2 border rounded-lg" placeholder="Contraseña">
            </div>
            <button type="submit" class="w-full bg-black text-white p-2 rounded-lg hover:bg-gray-800 font-bold">Iniciar
                Sesion</button>
        </form>
        <p class="mt-6 text-center text-black-700">
            <a href="#" class="text-blue-500 hover:underline font-bold">Recuperar contraseña</a>
        </p>
    </div>
</body>

</html>