<div id="modal_ropa_baja" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden opacity-0 transition-opacity duration-300">  
    <div class="bg-white rounded-lg shadow-lg p-8 w-5/6 transform scale-95 transition-transform duration-300">
    <h1>Bajas y Perdidas del Mes de: Aqui Iria el Mes Actual o Pasado</h1>    
    <div id="gridForReporteBajasPerdidas" class="ag-theme-quartz h-96 w-max-screen mt-3"></div>
        <div class="mt-4 text-center">
            <button id="ExportRopaBaja"     class="w-full mt-2 bg-green-500 text-white p-2 rounded hover:bg-green-400"></button>
            <button id="closeModalRopaBaja" class="w-full mt-2 bg-red-500 text-white p-2 rounded hover:bg-red-400">Cerrar</button>
        </div>
    </div>
</div>