<div class="grid grid-cols-2 gap-4">
    <button onclick="openRecibirSucioModal()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/recibir') %>
        <span class="ml-2">Recibir ropa sucia desde unidad sigcom</span>
    </button>
    <button onclick="openRemesaModal()" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/perdida') %>
        <span class="ml-2">Crear remesa de ropa sucia</span>
    </button>
</div>