<div class="flex justify-between items-center p-4 bg-gray-200">
    <div class="flex items-center space-x-2">
        <button class="p-2 bg-indigo-500 text-white rounded-full flex items items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            <span class="text-lg">Ingresar funcionario</span>
        </button>
    </div>
    <div class="flex items-center space-x-2">
        <input type="text" placeholder="11111111-1"
            class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
        <button class="p-2 bg-indigo-500 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 12h.01M12 12h.01M16 12h.01M9 16h6M9 8h6M12 5v14m8-7H4" />
            </svg>
        </button>
    </div>
</div>

<div id="gridFuncionarios" class="ag-theme-quartz h-96 w-full p-4"></div>
<script type="module" src="/js/employee/empleados_grid.js" ></script>