<h1 class="text-2xl text-black mt-3">Artículos</h1>
<button type="button" class="bg-yellow-500 text-black p-2 rounded hover:bg-yellow-400 mt-3" id="openModal">Crear Artículo</button>
<div id="grid" class="ag-theme-quartz h-96 w-max-screen mt-3"></div>
<scripts src="/js/empleados_gris.js"></scripts>