<h1 class="text-2xl text-black mt-3">Agregar Usuario</h1>
<button type="button" class="bg-yellow-500 text-black p-2 rounded hover:bg-yellow-400 mt-3" id="openModal">Agregar Usuario</button>
<div id="grid" class="ag-theme-quartz h-96 w-max-screen mt-3"></div>


<script src="/js/agregar_empleado_modal.js"></script>
<script type="module" src="/js/articulos_grid.js"></script>
<%- include('../components/modals/employees/agregar_usuario_modal') %>