<!-- views/lunch/ticket.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ticket de Colación</title>
  <!-- Incluye Tailwind CSS -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
</head>
<body>
  <div id="ticket">
    <h1>Ticket de Colación</h1>
    <p>RUT: <%= colacion.RutSolicitante %></p>
    <p>Menú: Menú <%= colacion.Menu %></p>
    <p>Fecha: <%= (colacion.FechaSolicitud) %></p>
  </div>

  <script>
    window.onload = function() {
      if (typeof window.print === 'function') {
        window.print();
      }
    };
  </script>
</body>
</html>
